input.ng-invalid.ng-dirty  {
    border:1px solid red;
}

.color-Mari {
    background-color: deepskyblue;
}

.color-Mariee {
    background-color: hotpink;
}

.container {
   margin-top: 5rem;
 }

.row {
  margin-top: 1rem;
}

.custom-radio{
  margin-top: -1rem;
}

button {
  margin-top: 1rem;
}

