<div class="container">
  <div class="d-flex justify-content-center" *ngIf="!playerService.getNomJoueur()">
    <h1>Bienvenue</h1>
  </div>
  <div class="d-flex justify-content-center" *ngIf="!playerService.getNomJoueur()">
     <form [formGroup]="inscriptionForm" (ngSubmit)="validerNom()">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Entrer votre nom" formControlName="nom"/>
        </div>

        <div class="row align-items-center">
           <div class="col align-self-center">
               <p>Je suis dans l'équipe de :</p>
           </div>
        </div>
        <div class="row align-items-center">
           <div class="col align-self-center">
               <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="ValidationMari" value="Mari" formControlName="equipe" required>
                <label class="custom-control-label" for="ValidationMari">Tristan</label>
              </div>
           </div>
           <div class="col align-self-center">
               <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input color-Mariee" id="ValidationMariee" value="Mariee" formControlName="equipe" required>
                <label class="custom-control-label" for="ValidationMariee">Elodie</label>
              </div>
           </div>
        </div>
        <div class="row align-items-center">
           <div class="col align-self-center">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="!inscriptionForm.valid">Valider</button>
           </div>
        </div>
        </form>
    </div>
<div class="d-flex justify-content-center" *ngIf="playerService.getNomJoueur()">
  <p>Vous êtes déjà inscrit {{playerService.getNomJoueur()}}</p>
  <button class="btn btn-primary" (click)="allezAuQuestionnaire()">Connexion</button>
</div>
</div>
