<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <h1>{{question ? question.titre : 'Titre'}}</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col align-self-center">
      <h3>{{question ? question.questionLabel : 'Question'}}</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-3 align-self-center text-center">
      <div id="countdown" class="countdownHolder">
        <span class="countDiv2"></span>
        <span class="countSeconds">
          <span class="position">
            <span class="digit static">{{compteARebourNumsTen}}</span>
          </span>
          <span class="position">
            <span class="digit static">{{compteARebourNumsOne}}</span>
          </span>
        </span>
      </div>
    </div>

    <div class="col-6 align-self-center text-center">
      <img class="image" src="{{image}}">
    </div>

    <div class="col-3 align-self-center text-center">
      les plus rapides:
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let joueurRepondu of listeJoueursRepondu|slice:0:5; let i = index">
          <b>{{joueurRepondu.nom}}</b>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-md-center align-items-center">
    <div class="col-4 align-self-center">
      <button
        class="btn btn-danger btn-lg btn-block">{{question ? question.reponses[0].reponseLabel : 'Ceci est un texte d\'une longueur suffisante pour voir comment réagie le bouton dans le cas ou l\'on déside d\'ecrire un romain dans le bouton'}}</button>
    </div>
    <div class="col-4 align-self-center">
      <button class="btn btn-primary btn-lg btn-block">{{question ? question.reponses[1].reponseLabel : '2/4'}}</button>
    </div>
  </div>
  <div class="row justify-content-md-center align-items-center">
    <div class="col-4 align-self-center">
      <button class="btn btn-warning btn-lg btn-block">{{question ? question.reponses[2].reponseLabel : '3/4'}}</button>
    </div>
    <div class="col-4 align-self-center">
      <button class="btn btn-success btn-lg btn-block">{{question ? question.reponses[3].reponseLabel : '4/4'}}</button>
    </div>
  </div>
</div>
