.btn-danger{
  background-color: olivedrab;
  color: black;
}

.btn-primary{
  background-color: #D5EFBB;
  color: black;
}

.btn-warning{
  background-color: lightseagreen;
  color: black;
}

.btn-success{
  background-color: cadetblue;
  color: black;
}

.image {
  background-size: cover;
  max-width: 900px;
  max-height: 600px;
  border-radius:2em;
}

.logo {
  background-size: cover;
  width: 25px;
  height: 25px;
}

.liMariee {
  background-color: hotpink;
  width: 100%;
}

.liMari{
  background-color: deepskyblue;
  width: 100%;
}

#fondecran {
  /* Fixe l'image en haut à gauche de la page */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#pageentree {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
}

.row {
  margin-top: 1rem;
}

button {
  height: 100px;
}

.countdownHolder{
  width:450px;
  margin:0 auto;
  font: 100px/1.5 'Open Sans Condensed',sans-serif;
  text-align:center;
  letter-spacing:-3px;
}

.position{
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}

.digit{
  position:absolute;
  display:block;
  width:1em;
  background-color:#444;
  border-radius:0.2em;
  text-align:center;
  color:#fff;
  letter-spacing:-1px;
}

.digit.static{
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);

  background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #3A3A3A),
    color-stop(0.5, #444444)
  );
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
  display:inline-block;
  width:16px;
  height:1.6em;
  position:relative;
}

.countDiv:before,
.countDiv:after{
  position:absolute;
  width:5px;
  height:5px;
  background-color:#444;
  border-radius:50%;
  left:50%;
  margin-left:-3px;
  top:0.5em;
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
  content:'';
}

.countDiv:after{
  top:0.9em;
}
