.row {
    margin-top: 1rem;
}

.container {
  margin-top: 1rem;
}


.block-inactif {
  background-size: cover;
  background-blend-mode: saturation;
}

.mat-spinner {
    margin:0 auto;
}

.liAurore {
  background-color: hotpink;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.liOlivier{
  background-color: deepskyblue;
  margin:0 auto;
  width: 100%;
  text-align: center;
}

.cptOlivier {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  text-align: left;
}

.cptAurore {
  font-style: italic;
  text-align: right;
}

