.btn-danger{
  background-color: olivedrab;
  color: black;
}

.btn-primary{
  background-color: #D5EFBB;
  color: black;
}

.btn-warning{
  background-color: lightseagreen;
  color: black;
}

.btn-success{
  background-color: cadetblue;
  color: black;
}

.row {
    margin-top: 1rem;
}

.container {
  margin-top: 1rem;
}


.block-inactif {
  background-size: cover;
  background-blend-mode: saturation;
}

.mat-spinner {
    margin:0 auto;
}

.liMariee {
  background-color: hotpink;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.liMari{
  background-color: deepskyblue;
  margin:0 auto;
  width: 100%;
  text-align: center;
}

.cptMari {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(8deg, 0deg);
  text-align: left;
}

.cptMariee {
  font-style: italic;
  text-align: right;
}

.image {
  background-size: cover;
  width: 900px;
  height: 600px;
  border-radius:2em;
}
