.message_attente {
    text-align: center;
    margin-top: 200px;
    border: 2px solid grey;
    border-radius:5px;
    box-shadow: 3px 3px 10px;
    padding: 40px 20px;
}

.message_attente .mat-progress-spinner {
    margin: 0 auto;
    margin-bottom:20px;
}